<%= form_for :pay, url: { action: 'pay' }, class: 'full-width float-left mt10px' do |f| %>
    <div class="formfieldL float-left">
      <%= f.label 'თანხა' %>
      <%= f.text_field 'amount' %>
    </div>
    <div class="formfieldL">
      <%= f.submit 'დასტური', class: 'standardButtonStyle custom-float-right' %>
    </div>
<% end %>
