<% @payment_methods = PaymentMethod.all %>
<div>
  <pre>shipping</pre>
  <%= select_tag 'payment_method', options_from_collection_for_select(@payment_methods, 'id', "method_name_#{get_loc}") %>
  <%# %>
</div>